@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "AphroditeText";
  src: url("../public/fonts/aphrodite/AphroditeText.woff2") format("woff2"),
    url("../public/fonts/aphrodite/AphroditeText.woff") format("woff"),
    url("../public/fonts/aphrodite/AphroditeText.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSansLight";
  src: url("../public/fonts/josefin-sans/JosefinSans-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "JosefinSansMedium";
  src: url("../public/fonts/josefin-sans/JosefinSans-Medium.ttf")
    format("truetype");
}

body {
  color: black;
  background: white;
  font-family: AphroditeText, Helvetica, sans-serif;
  @apply bg-[#f8f5ed] text-[#362417];
}
